---
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";
---

<footer class="section bg-theme-dark">
  <div class="container text-center">
    {/* copyright */}
    <p set:html={markdownify(config.params.copyright)} class="text-white/75" />
  </div>
</footer>
